<configuration>

  <connectionStrings>

    <add name="MyDB"
         connectionString="server=localhost;
                           database=CollegeDB;
                           uid=root;
                           pwd=yourpassword;"
         providerName="MySql.Data.MySqlClient"/>

  </connectionStrings>

</configuration>